@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-sarif';
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.right {
    margin: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyplaylists {
    padding: 16px;
}

.cardContainer {
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
    direction: rtl;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
    font-size: 15px;
}

.head2 {
    font-weight: 400;
}

.card p {
    color: grey;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 48px;
    height: 48px;
    background: #1ed760;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.15s ease-out, background 0.15s ease;
    padding: 0;
    opacity: 0;
    position: absolute;
    top: 255px;
    right: 17px;
}

.play:hover {
    background: #3be477;
    transform: scale(1.05);
}

.play:active {
    background: #1abc54;
    transform: scale(0.95);
}

.play:root {
    --background-base: #1ed760;
    --background-highlight: #3be477;
    --background-press: #1abc54;
}

/* :hover {
    opacity: 1;
    top: 168px;
} */
.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 0.1s;
}

.loginbtn:hover {
    transform: scale(1.05);
}

.playbar {
    position: fixed;
    bottom: 20px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.songlists {
    height: 544px;
    overflow-y: auto;
    margin-bottom: 44px;
}

.songlists ul {
    padding: 0 12px;
}

.songlists ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 34px;
    cursor: pointer;
    padding: 12px;
    border: 1px solid white;
    margin: 12px -12px;
    padding: 13px;
    border-radius: 5px;
}

.songlists .info {
    font-size: 13px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: -1%;
    transition: left 0.5s ease;
}

.songbuttons img {
    cursor: pointer;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 375px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
        font-size: 10px;
    }
    .seekbar{
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
    }
    .card{
        width: 90vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
}